<h4>Application Form</h4>
<form action ="/job/{{job['id']}}/apply" method = "post">
    <div class = "mb-2">
        <label>Full Name</label><br>
        <input type="text" name = "full_name" placeholder="Siddhesh Kulkarni">
    </div>

    <div class = "mb-2">
        <label>Email</label><br>
        <input type="text" name = "email" placeholder="sidpkul21@gmail.com">
    </div>

    <div class = "mb-2">
        <label>Linkedin</label><br>
        <input type="text" name = "linkedin" placeholder="https://linkedin.com">
    </div>

    <div class = "mb-2">
        <label>Education</label><br>
        <textarea name ="education"></textarea>
    </div>

    <div class = "mb-2">
        <label>Work Experience</label><br>
        <textarea name ="work"></textarea>
    </div>

    <input type="submit" name ="submit">
</form>
