<!DOCTYPE html>
<html>
    <head>
        <title>
            Application Submitted
        </title>
        {% include 'bootstrap.html' %}
    </head>
    <body>
        <div class = "container">
            {% include 'nav.html' %}
            {% include 'banner.html' %}
            <h3>Submitting application != feedback. But application for {{job['title']}} has been submitted</h3>
            <b>Full Name</b>
            <div class ="mb-2">
                {{application['full_name']}}
            </div>
            <b>Email</b>
            <div class ="mb-2">
                {{application['email']}}
            </div>
            <b>Linkedin</b>
            <div class ="mb-2">
                {{application['linkedin']}}
            </div>
            <b>Work</b>
            <div class ="mb-2">
                {{application['work']}}
            </div>
            <b>Education</b>
            <div class ="mb-2">
                {{application['education']}}
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>